name: Generate GitHub Contribution Snake

on:
  schedule:
    - cron: '0 0 * * *' # daily
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: Generate contribution snake
        uses: platane/snk/svg-only@v3
        with:
          github_user_name: rashidkhokhar98
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Push to output branch
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git checkout -B output
          git add dist/*
          git commit -m "Update contribution snake" || echo "no changes"
          git push origin output --force
